<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Emosson</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Emosson</h1>
        </div>
    </header>

    <div class="container nav-container">
        <a href="/accueil" class="btn">Accueil</a>
        <a href="/qui_sommes_nous" class="btn">Qui sommes-nous ?</a>
        <a href="/questionnaire" class="btn">Accéder au questionnaire</a>
        <a href="/actualite" class="btn">Actualités</a>
        <a href="/statistiques" class="btn">Statistiques</a>
        <a href="/avis" class="btn">Avis</a>
    </div>

    <div class="image_accueil">
                <img src="../static/img/emosson_decoupe.png" alt="barrage Emosson">
    </div>


    <div class="bandeau_actualite">   
        <section class="section"> 
            <h2>Actualités</h2>
            <div class="images">  
                <div class="image-container">
                    <a href="https://cepri.net/" target="_blank">
                    <img src="../static/img/CEPRI.jpg" alt="logo CEPRI">
                    </a>
                </div>

            
                <div class="image-container">
                    <a href="https://www.georisques.gouv.fr/" target="_blank">
                    <img src="../static/img/georisque.jpg" alt="logo georisque">
                    </a>
                </div>
            </div> 
        </section>

        
    </div>

    <div class="container">
        <section class="section">
            <h2>Contacts</h2>
            <h3>Emosson@gmail.com</h3>
        </section>  
    </div>

    <footer>
        <p>&copy; {{ now.year }} Emosson. Tous droits réservés.</p>
    </footer>
</body>
</html>