<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Emosson</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Emosson</h1>
        </div>
    </header>

    <div class="container nav-container">
        <a href="../accueil" class="btn">Accueil</a>
        <a href="../questionnaire" class="btn">Accéder au questionnaire</a>
        <a href="../qui_sommes_nous" class="btn">Qui sommes-nous ?</a>
        <a href="../actualite" class="btn">Actualité</a>
        <a href="../statistiques" class="btn">Statistiques</a>
        <a href="../avis" class="btn">Avis</a>
    </div>

    <div class="container">
      

        <section class="section">
            <h2>Actualité</h2>
            <p>Centre européen de Prévention de risque d'inondation : <a href="https://cepri.net/" target="_blank">CEPRI</a></p>
            <div class="image-container">
                <div class="image-container">
                    <img src="../static/img/CEPRI.jpg" alt="logo CEPRI">
                </div>
            </div>
        </section>


    </div>

    <footer>
        <p>&copy; {{ now.year }} Emosson. Tous droits réservés.</p>
    </footer>
</body>
</html>