<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Résultat - Emosson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        
        <div id="zone-pdf">
            <h1>Résultat de votre évaluation</h1>
            
            <div class="resultat-box" style="border-color: {{ couleur_score }};">
                <p class="resultat-label">Votre niveau de vulnérabilité :</p>
                
                <h2 class="resultat-score" style="color: {{ couleur_score }};">
                    {{ score_cent }}/100
                </h2>

                <div class="resultat-progress-bg">
                    <div class="resultat-progress-fill" style="width: {{ score_cent }}%; background-color: {{ couleur_score }};"></div>
                </div>
            </div>

        </div>
        <br>
        <div class="action-buttons">
            <a href="/questionnaire" class="btn">Recommencer le diagnostic</a>
            <button id="btn-telecharger" class="btn btn-green">
                Télécharger en PDF
            </button>
        </div>
    </div>

    <script>
        document.getElementById('btn-telecharger').addEventListener('click', function () {
            // On cible la zone à convertir en PDF
            var element = document.getElementById('zone-pdf');
            
            // Options de configuration du PDF
            var opt = {
              margin:       10,
              filename:     'Diagnostic_Vulnerabilite_Emosson.pdf',
              image:        { type: 'jpeg', quality: 0.98 },
              html2canvas:  { scale: 2 },
              jsPDF:        { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };

            // Lancement de la génération
            html2pdf().set(opt).from(element).save();
        });
    </script>
</body>
</html>