<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Emosson</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Emosson</h1>
        </div>
    </header>

    <div class="container nav-container">
        <a href="../accueil" class="btn">Accueil</a>
        <a href="../questionnaire" class="btn">Accéder au questionnaire</a>
        <a href="../qui_sommes_nous" class="btn">Qui sommes-nous ?</a>
        <a href="../actualite" class="btn">Actualité</a>
        <a href="../statistiques" class="btn">Statistiques</a>
    </div>
    <div class="container">
        <section class="section">
            <h2>Qui sommes nous ?</h2>
            <p>
                Emosson est un site visant à prévenir et informer les particuliers sur les risques d'inondation liés à leur logement.
                Pour cela, nous utilisons des données géographiques pour calculer un score de vulnérablité. Vous retrouverez également des recommandations et des indications dans votre fiche personnalisée à l'issus du questionnaire.
            <div class="image-container">
                <img src="../static/img/barrage_emosson.jpg" alt="barrage Emosson">
            </div>
        </section>

        <section class="section">
            <h2>À quoi sert notre auto diagnostic ?</h2>
            <p>
                Fournir un score de vulnérabilité qui vulgarise, pour chaque personne qui le souhaite,
                le niveau d'exposition de son logement au risque inondation.
                Inciter chacun à adopter une culture du risque et à prendre les mesures adéquates.
            </p>
            <div class="image-container">
                <img src="../static/img/inondation_img1.jpg" alt="inondation">
            </div>
            <p>
                Comment réaliser son auto-diagnostic ? Clique sur le bouton en haut de page et réponds au questionnaire !
            </p>
        </section>

    
    </div>

    <footer>
        <p>&copy; {{ now.year }} Emosson. Tous droits réservés.</p>
    </footer>
</body>
</html>